.form-control, .btn{
	border-radius:0px;
}

.font-size-18px{
	font-size:18px;
}

.margin-top-minus-20px{
	margin-top:-20px;
}

.margin-top-20px{
	margin-top:20px;
}

.margin-bottom-20px{
	margin-bottom:20px;
}

.margin-top-10px{
	margin-top:10px;
}

.margin-bottom-10px{
	margin-bottom:10px;
}

.margin-left-5px{
	margin-left:5px;
}

.margin-right-5px{
	margin-right:5px;
}

.margin-left-15px{
	margin-left:15px;
}

.margin-right-15px{
	margin-right:15px;
}

.padding-left-0px{
	padding-left:0px;
}

.padding-right-0px{
	padding-right:0px;
}

.padding-left-right-0px{
	padding-left:0px;
	padding-right:0px;
}

.padding-left-15px{
	padding-left:15px;
}

.padding-right-15px{
	padding-right:15px;
}

.panel{
	border-radius:0px;
}

.notes-text-limit{
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group{
	margin-left:10px;
}

.colour-green{
	color:#31942F;
}

.colour-red{
	color:#AF3535;
}

.mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset{
	max-width:99.99% !important;
}

.navbar-default{
	background-color:#528C37;
	border:none;
}

.navbar-default .navbar-nav>li>a{
	color:white;
}

.main-overlay-title{
	padding:15px;
	font-size:34px;
	font-weight:900;
	color:#1D465C;
	margin-top:-67px;
	background-color:white;
	opacity:0.7;
}


/*col-xs*/
@media(max-width: 768px){
	.col-xs-margin-top-10px{
		margin-top: 10px;
	}
	.col-xs-margin-top-20px{
		margin-top: 20px;
	}
}

/* > 300px and < 400px */
@media(min-width:300px) and (max-width:400px){
	.notes-text-limit{
		width: 250px;
	}
}

/* > 400px and < 550px */
@media(min-width:400px) and (max-width:550px){
	.notes-text-limit{
		width: 345px;
	}
}

/* > 550px and < 768px */
@media(min-width:550px) and (max-width:650px){
	.notes-text-limit{
		width: 480px;
	}
}

/* > 650px and < 768px */
@media(min-width:650px) and (max-width:768px){
	.notes-text-limit{
		width: 560px;
	}
}

/*col-sm*/
@media(min-width: 768px) and (max-width: 992px){
	.notes-text-limit{
		width: 216px;
	}
}

/*col-md*/
@media(min-width: 992px) and (max-width: 1200px){
	.notes-text-limit{
		width: 205px;
	}
}

/*col-lg*/
@media(min-width: 1200px) and (max-width:1500px){
	.notes-text-limit{
		width: 261px;
	}
}

/* > 1500px and < 1800px */
@media(min-width: 1500px) and (max-width:1800px){
	.notes-text-limit{
		width: 335px;
	}
}

/* > 1800px < 2100px*/
@media(min-width: 1800px) and (max-width:2100px){
	.notes-text-limit{
		width: 405px;
	}
}

/* > 1800px < 2100px*/
@media(min-width: 2100px) and (max-width:2400px){
	.notes-text-limit{
		width: 485px;
	}
}

/* > 1800px < 2100px*/
@media(min-width: 2400px) and (max-width:2700px){
	.notes-text-limit{
		width: 565px;
	}
}

/* > 1800px < 2100px*/
@media(min-width: 2700px) and (max-width:3000px){
	.notes-text-limit{
		width: 635px;
	}
}

/* > 3000px */
@media(min-width: 3000px){
	.notes-text-limit{
		width: 715px;
	}
}

@media(min-width: 768px){
	.col-sm-md-lg-padding-left-15px{
		padding-left:15px;
	}
	.col-sm-md-lg-padding-right-15px{
		padding-right:15px;
	}
}

/*Datatables*/
.paginate_button{
	border-radius:0px !important;
}

.table-hover > tbody > tr:hover {
  background-color: #f0f0f0;
  cursor:pointer;
}

.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active,
.table-hover > tbody > tr.active-row,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #f0f0f0;
}
/*# sourceMappingURL=all.css.map */
